$width: 87.5rem;

$primary-color: #ff8a00;

$bg-white: #fff;
$bg-warning: #f34040;
$bg-green: #42bb4e;

$text-white: #fff;
$text-primary: #4d4d4d;
$text-secondary: #a7a7a7;
$text-error: #f34040;

$title-font: 15px;
$name-font: 13px;

$text-1: 13px;
$text-2: 16px;
$text-3: 20px;
$text-4: 25px;
$text-5: 35px;
$text-6: 45px;

$weight-1: 600;

//margin
$m-1: 1.25rem;

$mt-1: 1.25rem;
$mt-2: 2rem;

$mb-1: 1.25rem;
$mb-2: 2rem;

//padding
$p-1: 2rem;

$pt-1: 2rem;

$lh-1: 1.8rem;

$g-1: 1rem;
$g-2: 1.88rem;

$br-1: 0.32rem;
