$primary-color: #ff8a00;

$bg-white: #fff;
$bg-warning: #f34040;
$bg-green: #42bb4e;

$text-white: #fff;
$text-primary: #4d4d4d;
$text-secondary: #a7a7a7;
$text-error: #f34040;

$title-font: 15px;
$name-font: 13px;

$text-1: 13px;
$text-2: 15px;
$text-3: 25px;
$text-4: 35px;
$text-5: 45px;
