@import "../../styles/variables";
@import "../../styles/utilities";

.edition {
  font-size: 13px;
  color: $text-secondary;
}

.pagination {
  @include flex-row;
  justify-content: center;
  margin: 20px;
}
