@import "../../styles/variables";
@import "../../styles/utilities";

.container {
  background-color: $bg-white;
  padding: $p-1;
  height: 100%;

  .top {
    @include flex-row;
    color: $text-primary;
    align-items: center;
    gap: $g-2;
    .profile {
      @include flex-column;
      align-items: center;
      gap: $g-1;
    }

    .rectangle {
      position: relative;
      width: 10.94rem;
      height: 9.31rem;
      background: $primary-color;
      border-radius: $br-2;
      color: $text-white;
      font-size: $text-4;

      .wrapper {
        @include center;
      }

      .content {
        gap: $g-1;
        @include flex-row;
        align-items: center;
        margin-bottom: 1.25rem;
      }
    }

    .borrowed {
      background: #926cff;
    }

    .expired {
      background: #f34040;
    }
  }

  .btn {
    margin-top: $mt-1;
  }
}
