@import "../../styles/utilities";
@import "../../styles/variables";

.footer {
  min-width: $width;

  background-color: $primary-color;
  color: $text-white;
  padding: $p-1;
  @include flex-column;

  .grid {
    @include flex-row;
    justify-content: center;

    .wrapper {
      @include flex-column;
      width: 7.5rem;

      .title {
        margin-bottom: $mb-2;
        font-weight: $weight-1;
        font-size: $text-3;
      }

      .subtitle {
        line-height: $lh-1;
      }
    }
  }

  .copyright {
    margin-top: $mt-2;
    text-align: center;
  }

  .social {
    @include flex-row;
    justify-content: center;
    gap: $g-1;
    margin-top: $mt-2;
  }
}
