@import "../../styles/variables";
@import "../../styles/utilities";

.quote {
  @include center;
  margin: 0 auto;
  z-index: 100;
  color: $text-white;
  padding: 50px;
  line-height: 50px;
  width: 100%;

  h2 {
    text-align: end;
  }

  div:nth-child(2) {
    font-weight: 300;
    font-size: 30px;
    text-align: end;
  }
}
