@import "../../styles/variables";

.heading {
  max-width: 18.75rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: $weight-1;
  line-height: $lh-1;

  .title {
    font-size: $text-4;
    color: $text-primary;
  }

  .subtitle {
    font-size: $text-2;
    color: $text-secondary;
  }
}
