.heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  line-height: 30px;

  .title {
    font-size: 25px;
    color: #4d4d4d;
  }

  .subtitle {
    font-size: 15px;
    color: #ababab;
  }
}
