@import "../../../styles/_variables";
@import "../../../styles/_utilities";

.container {
  width: 100%;

  .info {
    @include flex-row;
    width: 100%;

    .detail {
      padding: 0 $p-1;
      line-height: $lh-1;
      flex: 1;

      .title {
        font-size: $text-3;
      }

      .edition {
        font-size: $text-1;
        color: $text-secondary;
      }

      .rating {
        @include flex-row;
        align-items: center;
        gap: $g-1;
        margin: $m-1 0;
      }

      .status {
        @include flex-row;
        margin: $m-1 0;
        gap: $g-2;

        .title {
          font-size: $text-3;
          margin-bottom: $mb-1;
        }

        .format {
          @include flex-row;
          align-items: center;
          gap: $g-1;
          width: 18.75rem;
        }

        .shelf {
          border-radius: $br-1;
          text-align: center;
          background-color: $bg-green;
          color: $text-white;
          width: 4.38rem;
          padding: 0.35rem;
        }
      }
    }

    .btn {
      margin: $mt-2 0;
    }

    .description {
      width: 21.88rem;
      max-height: 31.25rem;
      overflow-y: auto;

      div:nth-child(1) {
        font-size: $text-3;
        margin-bottom: $mt-2;
        span {
          font-size: $text-3;
          color: $primary-color;
        }
      }

      div:nth-child(2) {
        line-height: $lh-1;
      }
    }
  }

  .data_container {
    @include flex-row;
    gap: $g-2;

    .data {
      width: 15.63rem;
      height: 3.13rem;
      text-align: center;
      line-height: calc(3.13rem / 2);

      border: 1px solid #dddddd;
      border-radius: $br-1;

      p:first-child {
        font-size: $text-1;
      }

      p:nth-child(2) {
        color: $primary-color;
      }
    }
  }
}
