@import "../../styles/utilities";
@import "../../styles/variables";

.row {
  background-color: $bg-white;
  margin-bottom: 20px;
  padding: 35px;
  color: $text-primary;

  .type {
    font-weight: 400;
    font-size: 25px;
  }

  .books {
    @include flex-row;
    gap: 13px;
    overflow-x: scroll;
  }

  span {
    color: $text-secondary;
  }
}
