@import "../../../styles/utilities";
@import "../../../styles/variables";

.form {
  @include flex-column;
  .btn {
    margin-top: $mt-1;
  }
}

.footer {
  text-align: center;
  margin-top: $mt-1;
}
