@import "../../../styles/utilities";
@import "../../../styles/variables";

.container {
  @include flex-column;
  @include center;
  align-items: center;
  gap: $gap-1;
  padding: $p-1;

  .otp {
    margin-top: 20px;
  }
}
