@import "../../styles/variables";
.appbar {
  position: fixed;
  min-width: 1400px;
}

.link {
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: $text-primary;
  }

  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}
