@import "../../styles/variables";
.appbar {
  position: sticky;
}

.link {
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: $text-primary;
  }

  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}
