@import "../../styles/utilities";
@import "../../styles/variables";

.constrains {
  font-size: 14px;
  margin-top: 20px;
  margin-left: 5px;
  line-height: 25px;
  color: $text-primary;

  li {
    @include flex-row;
    align-items: center;
    gap: 10px;

    .check {
      color: $primary-color;
    }

    .error {
      color: $text-error;
    }
  }
}
