@import "../../styles/variables";
@import "../../styles/utilities";

.book {
  color: $text-primary;
  line-height: 25px;
  width: 150px;

  .image {
    &:hover {
      scale: 1.1;
      cursor: pointer;
    }
  }

  .title {
    @include text-nowrap;
  }

  .author {
    @include text-nowrap;
    font-size: 13px;
  }

  .rating {
    font-size: 13px;
    span {
      color: $text-secondary;
    }
  }
}
