@import "../../styles/variables";
.bg {
  opacity: 0.9;

  .search {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    &_input {
      height: 45px;
      width: 60%;
      border: none;
      background-color: $text-white;
      padding: 10px 16px;
      height: 45px;
    }

    &_btn {
      background-color: $primary-color;
      padding: 12px 24px;
      width: 98px;
      height: 45px;
      color: $text-white;
    }
  }
}
